@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Aeonik", system-ui, sans-serif;
  }
}

@media screen and (max-width: 640px) {
  .mobile-hero-padding {
    padding-top: 0;
    padding-bottom: 4rem;
  }
}
