.content-container {
  font-weight: 600;
  overflow: hidden;
  height: 70px;
  position: relative;
  font-size: 14px;
  color: white;
}

@media (min-width: 640px) {
  .content-container {
    height: 80px;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .content-container {
    height: 100px;
    font-size: 18px;
  }
}

.content-container-text {
  display: inline;
  float: left;
  margin: 0;
  margin-right: 8px;
  opacity: 0.7;
}

.content-container-list {
  margin: 0;
  padding-left: 0;
  text-align: left;
  list-style: none;
  animation: change 12s infinite;
}

.content-container-list-item {
  line-height: 70px;
  margin: 0;
  color: #e8d4b4;
}

@media (min-width: 640px) {
  .content-container-list-item {
    line-height: 80px;
  }
}

@media (min-width: 768px) {
  .content-container-list-item {
    line-height: 100px;
  }
}

@keyframes change {
  0%,
  16% {
    transform: translateY(0);
  }
  20%,
  36% {
    transform: translateY(-70px);
  }
  40%,
  56% {
    transform: translateY(-140px);
  }
  60%,
  76% {
    transform: translateY(-210px);
  }
  80%,
  96% {
    transform: translateY(-280px);
  }
  100% {
    transform: translateY(-350px);
  }
}

@media (min-width: 640px) {
  @keyframes change {
    0%,
    16% {
      transform: translateY(0);
    }
    20%,
    36% {
      transform: translateY(-80px);
    }
    40%,
    56% {
      transform: translateY(-160px);
    }
    60%,
    76% {
      transform: translateY(-240px);
    }
    80%,
    96% {
      transform: translateY(-320px);
    }
    100% {
      transform: translateY(-400px);
    }
  }
}

@media (min-width: 768px) {
  @keyframes change {
    0%,
    16% {
      transform: translateY(0);
    }
    20%,
    36% {
      transform: translateY(-100px);
    }
    40%,
    56% {
      transform: translateY(-200px);
    }
    60%,
    76% {
      transform: translateY(-300px);
    }
    80%,
    96% {
      transform: translateY(-400px);
    }
    100% {
      transform: translateY(-500px);
    }
  }
}
